{% extends 'base.html.twig' %}

{% block title %}Liste des quiz{% endblock %}

{% block body %}
    <h1 align="center">Listes des quiz</h1>

        {% if is_granted('ROLE_FORMA') %}
<ul>
                {% for quiz in quizzes %}
                <div class="designlist">
                    <p class="informationquiz">{{ quiz.titre }} , Date de début : {{ quiz.dateDebut | date('d/m/y H:i') }} , Date de fin : {{ quiz.dateFin | date('d/m/y H:i') }} , Note Maximale : {{ quiz.noteMaximale }}
                        <a href="{{ path('modif_quiz', { 'id': quiz.id }) }}">Modifier Quiz</a>
                        <a href="{{ path('supprimer_quiz', { 'id': quiz.id }) }}">Supprimer Quiz</a> </p>
                </div>
                {% endfor %}

            <div id="Retour"><a id='submit2' href="{{ path('app_quiz_acceuilF') }}">Retour</a></div>
</ul>
        {% endif %}


    {% if is_granted('ROLE_APPRE') %}
        <ul>
            {% for quiz in quizzes %}
                {% if quiz.formation.id == app.user.formation %}
                    <div class="designlist">

                        <p class="informationquiz">{{ quiz.titre }}, Date de début : {{ quiz.dateDebut | date('d/m/y H:i') }}, Date de fin : {{ quiz.dateFin | date('d/m/y H:i') }}
                        {% if quiz.dateDebut <= now and quiz.dateFin >= now %}
                            Note maximale : {{ quiz.noteMaximale }} <a href="{{ path('quiz_vue_app', { 'id': quiz.id }) }}">Lancer le Test</a>
                        {% elseif quiz.dateFin < now %}
                            : Le quiz est terminé.
                        {% else %}
                            : Le quiz n'est pas encore disponible.</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div id="Retour"><a id='submit2' href="{{ path('app_quiz_acceuilA') }}">Retour</a></div>
        </ul>
    {% endif %}
<style>
.designlist{
    text-align: center;
}
.informationquiz{
    margin: auto auto 1em auto;
    padding: 1em;
    background-color: #7f7f7f;
    color: #FFFFFF;
    width: 50%;
}
a{
    text-decoration: none;
    color: darkmagenta;
    padding: 1em;
    margin-right: 1em;
}
#Retour{
    margin-top: 10%;
    text-align: center;
}

#submit2{
    border-radius: 25%;
    text-decoration: none;
    background-color: #535353;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    border: 1px solid #7f7f7f;
    cursor: pointer;

}
#submit2:hover {
    background-color: white;
    color: #000000;
    border: 1px solid #FFDC14;
}



</style>

{% endblock %}